@font-face {
  font-family: pelak;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/pelak/eot/Pelak-Bold.eot');
  src: url('../fonts/pelak/eot/Pelak-Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../fonts/pelak/woff/Pelak-Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/pelak/ttf/Pelak-Bold.ttf') format('truetype');
}

@font-face {
  font-family: pelak;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/pelak/eot/Pelak-Medium.eot');
  src: url('../fonts/pelak/eot/Pelak-Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../fonts/pelak/woff/Pelak-Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/pelak/ttf/Pelak-Medium.ttf') format('truetype');
}

@font-face {
  font-family: pelak;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/pelak/eot/Pelak-light.eot');
  src: url('../fonts/pelak/eot/Pelak-light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../fonts/pelak/woff/Pelak-light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/pelak/ttf/Pelak-light.ttf') format('truetype');
}
